<form id="delete-form-{{ commentaire.id }}" method="post" action="{{ path('app_commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button type="submit" class="btn" style="background: none; border: none;"><i class="bx bx-trash"></i></button>
</form>
